body {
	background-color: lightblue;
}

h1 {
	color: beige; 
	margin-left: 20px; 
	font-size: 40px; 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
} 

h2 {
	color: beige; 
	margin-left: 20px; 
	font-size: 30px; 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
} 

.header {
	background-colour: red;
	height: 10vh;
	width: 100%
}

.leftcol {background-colour: lightblue; height: 80vh; float: left; width: 20%}
.content {background-colour: lightgrey; height: 80vh; float: left; width: 60%}
.rightcol {background-colour: lightblue; height: 80vh; float: right; width: 20%}
.footer {{background-colour: red; height: 10vh; float: right; width: 100%}

p {
	color: RGB(127, 26, 26); 
	margin-left: 40px; 
	font-size: 20px; 
	font-family: Georgia
}

.rad1 {
	background-colour: #53ff1a;
	height: 50vh
}



li {
	color: RGB(127, 26, 26); 
	margin-left: 40px; 
	font-size: 20px; 
	font-family: Georgia
}

a {
	text-decoration: none; 
	margin-left: 40px; 
	font-size: 20px; 
	font-family: Georgia;
	text-align: center
}

.button {
    background-color: darkblue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: RGB(139, 0, 0);
    color: white;
}

.kontakt {
     margin: 0 auto;
     width: 500px; 

	background-color: beige;
    	border: none;
    	border-radius: 8px;
    	color: white;
   	padding: 32px 32px;
    	text-decoration: none;
    	font-size: 16px;
}

img {	
	border-radius: 80px;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 50%;
    	height: auto;
    	padding: 50px;
}

.nav {text-align:center}