.header {background-color:beige; width:100%; height: 10vh}

.leftcol {background-color:beige; height:80vh; width:20%; float:left;}

.content {background-color:beige; height:80vh; width:60%; float:left;}

.rightcol {background-color:beige; height:80vh; width:20%; float:right;}

.footer {background-color:beige; clear:both; text-align: center; height:5vh}

.innerbox {padding: 10px;}

.headingfont {font-family: 'Playfair Display', serif; font-size: 40px;}

.contentheaderfont {font-family: 'Open Sans', sans-serif;text-align: center; font-size:30px;}

.contentfont {	margin-left: 40px; 
	font-size: 16px; 
	font-family: Georgia}

table {padding: 5px; border: 4px dotted black;}
td {padding: 5px; border: 1px solid red;}

body {
	color: darkblue;
	background-color: beige;
}

h1 {
	margin-left: 20px; 
	font-size: 40px; 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
} 

h2 {
	margin-left: 20px; 
	font-size: 30px; 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
} 

p {
	margin-left: 40px; 
	font-size: 16px; 
	font-family: Georgia
}

ul {
	margin-left: 30px; 
	font-size: 16px; 
	font-family: Georgia
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.navigation a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #7f1a1a;
    color: white;
}

a {
	text-decoration: none; 
	margin-left: 40px; 
	font-size: 16px; 
	font-family: Georgia;
	text-align: left
}


img {	
	border-radius: 50px;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 65%;
    	height: auto;
    	padding: 30px;
}